<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ChatBot.Properties.Settings>
      <setting name="UsuarioColor" serializeAs="String">
        <value>LightGreen</value>
      </setting>
      <setting name="FondoColor" serializeAs="String">
        <value>LightYellow</value>
      </setting>
      <setting name="RobotColor" serializeAs="String">
        <value>LightBlue</value>
      </setting>
      <setting name="SexoUsuario" serializeAs="String">
        <value>Hombre</value>
      </setting>
    </ChatBot.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ChatBot.Properties.Settings>
      <setting name="EndPoint" serializeAs="String">
        <value>https://alejandrochatbot.azurewebsites.net</value>
      </setting>
      <setting name="EndPointKey" serializeAs="String">
        <value>edf23ac8-a06b-45be-b66b-ea40b104bd52</value>
      </setting>
      <setting name="KnowledgeBaseId" serializeAs="String">
        <value>8fadfbdd-ce9d-456d-b371-ca8575b398d8</value>
      </setting>
    </ChatBot.Properties.Settings>
  </applicationSettings>
</configuration>